@charset "utf-8";
*{
  margin:0;
  border:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  min-height: 100vh;
  background-color: grey;
  padding: 0 5%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contentItens{
  background-color: white;
  border: 2px solid black;
  height: 240px;
  width: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header{
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
